<p>
    <mat-toolbar color="primary" class="ajustar">
        <a routerLink="/" style="color: white; text-decoration: none;" class="ajustar">
            <span style="margin-right: 5px;">My Courses</span>
            <mat-icon>play_lesson</mat-icon>
            <span class="example-spacer"></span>
        </a>
        <span class="example-spacer"></span>
        <button style="margin-right: 10px;" mat-raised-button routerLink="/">Home</button>
        <button mat-raised-button routerLink="/course/new" style="margin-right: 10px;">Compartilhar</button>
        <button mat-raised-button routerLink="/about">Sobre</button>
    </mat-toolbar>
</p>