<div class="contato">
    <h2>Contato:</h2>
    <mat-card>
        <mat-card-content> 
            <div style="display:flex; justify-content: center;">
                <mat-icon style="margin-right: 0.3em;">forward_to_inbox</mat-icon>
                <h3>Email: alanlopes.r@gmail.com</h3>
            </div>
            <div style="display:flex; justify-content: center;">
                <mat-icon style="margin-right: 0.3em;">phone</mat-icon>
                <h3>Telefone: (31)9 9388-7003</h3>
            </div>
            <div style="display:flex; justify-content: center;">
                <mat-icon style="margin-right: 0.3em;">work</mat-icon>
                <h3>Github: https://github.com/Alan-LR</h3>
            </div>
            <div style="display:flex; justify-content: center;">
                <mat-icon style="margin-right: 0.3em;">group</mat-icon>
                <h3>Linkedin: https://www.linkedin.com/in/alan-ramalho-942224247</h3>
            </div>
        </mat-card-content>
    </mat-card>
</div>

  
