/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';
@include mat-core();

$custom-app-primary: mat-palette($mat-light-blue, A700);
$custom-app-secondary: mat-palette($mat-blue);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-app-primary,$custom-app-secondary, $custom-app-warn);

@include angular-material-theme($custom-theme);

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



//classes de formulário
form {
    width: 525px;
    margin: 0 auto;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}

.input-label{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
}
